<h1 mat-dialog-title>{{ data ? 'Editar Sprint' : 'Nuevo Sprint' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="sprintForm">
    <mat-form-field class="w-100">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

   <mat-form-field class="w-100" appearance="outline">
  <mat-label>Fecha Inicio</mat-label>
  <input matInput [matDatepicker]="picker1" formControlName="startDate">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field class="w-100" appearance="outline">
  <mat-label>Fecha Fin</mat-label>
  <input matInput [matDatepicker]="picker2" formControlName="endDate">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

    <mat-form-field class="w-100">
  <mat-label>Proyecto</mat-label>
  <mat-select formControlName="projectId">
    <mat-option *ngFor="let project of projects" [value]="project.projectId">
      {{ project.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()">Guardar</button>
</div>
