<h2 mat-dialog-title >Recuperar contraseña</h2>

<mat-dialog-content >
  <form [formGroup]="recoverForm">
    <mat-form-field appearance="outline" class="w-100 mb-3" >
            <mat-label>Usuario</mat-label>
            <input
              matInput
              placeholder="Ingrese su usuario"
              formControlName="username"
              
            />
            <mat-error
              *ngIf="
                recoverForm.get('username')?.invalid &&
                recoverForm.get('username')?.touched
              "
            >
              El usuario es obligatorio (mínimo 4 caracteres).
            </mat-error>
          </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        type="email"
        placeholder="Ingrese su correo"
        formControlName="email"
      />
      <mat-error
        *ngIf="
          recoverForm.get('email')?.invalid &&
          recoverForm.get('email')?.touched
        "
      >
        Debe ingresar un correo válido.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="recoverForm.invalid || loading"
    (click)="onRecover()"
  >
    {{ loading ? "Enviando..." : "Enviar" }}
  </button>
</mat-dialog-actions>
