<h1 mat-dialog-title>{{ data ? "Editar Asignación" : "Nueva Asignación" }}</h1>
<div mat-dialog-content>
  <form [formGroup]="assignmentForm">
   

    <mat-form-field class="w-100">
 

<mat-form-field class="w-100">
  <mat-label>Usuario</mat-label>   
  <input matInput #filterBox (keyup)="filterUsers(filterBox.value)">
</mat-form-field>
  <mat-select formControlName="userName">
    <mat-option *ngFor="let user of filteredUsers" [value]="user.username">
      {{ user.firstname +' '+user.lastname }}
    </mat-option>
  </mat-select>
</mat-form-field>


    <mat-form-field class="w-100">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="role">
        <mat-option value="desarrollador">Desarrollador</mat-option>
        <mat-option value="tester">Tester</mat-option>
        <mat-option value="líder">Líder</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()">Guardar</button>
</div>
